[Unit]
Description=fritzgerald
After=network-online.target
[Service]
Type=simple
Restart=always
User=carlo
WorkingDirectory=/home/carlo/Desktop/fritzgerald
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
